<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name </th>
                <th>Price</th>
                <th>Info</th>
            </tr>    
        </thead>
        <tbody>
            <tr ng-repeat="product in productTable.products">
                <td>{{ product.name }}<span> </span><button ng-show="productTable.isAdmin" ng-link="['EditProduct', {id: product.id}]" class="btn">Edit</button></td>
                <td>{{ product.price }}</td>
                <td>{{ product.info }}</td>
                <td ng-show="product.alert" class="bg-danger">The price for this product has been updated!</td>
            </tr>
        </tbody>
    </table>
</div>