<div class="panel panel-default">
    <div class="panel-heading">
        <h4>My Cart</h4>
    </div>
    <div class="panel-body">
        <bm-product-table products="cart.products" isAdmin="false"></bm-product-table>
        <a href="#" class="btn btn-primary" role="button">Checkout</a>
    </div>
</div>


   