
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="products">Cake and Ice Cream</a>
            <a class="navbar-brand" href="about">About</a>
            <a class="navbar-brand" href="admin">Admin</a>
            <a class="navbar-brand" href="cart">My Cart</a>
            <bm-cart-info class="pull-right"></bm-cart-info>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <ng-outlet></ng-outlet>
        </div>
    </div>
    <hr>
    <footer>
        <p>2016 BlueMetal</p>
    </footer>
</div>