<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Admin</h4>
    </div>
<bm-product-table products="admin.products" is-admin="admin.isAdmin"></bm-product-table>
<div class="panel panel-default">
        <div class="panel-heading">New Product</div>
        <form class="panel-body" >
            <div class="form-group" >
                <label for="name">New Name</label>
                <input type="text" class="form-control" id="name" ng-model="productToAdd.name">
            </div>
            <div class="form-group">
                <label for="price">New Price</label>
                <input type="text" class="form-control" id="price" ng-model="productToAdd.price">
            </div>
             <div class="form-group">
                <label for="info">New Info</label>
                <input type="text" class="form-control" id="info" ng-model="productToAdd.info">
            </div>
            <p>
            <button ng-click="admin.addProduct(productToAdd)" class="btn btn-primary" role="button">Add Product</button>
            </form>
</div>