<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Product list</h4>
    </div>
    <div class="panel-body">
        <label>Search: </label><input ng-model="query" />
        <div ng-repeat="product in productList.products | filter:query">
            <a ng-link="['Product', {id: product.id}]" >{{product.name}}</a>
        </div>
    </div>
</div>