<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{product.myProduct.name}}</h3>
                <p>${{product.myProduct.price}}</p>
                <p>{{product.myProduct.info}}</p>                
                <p><button ng-click='product.addProduct(product.myProduct)' class="btn btn-primary" role="button">Add to Cart</button>
            </div>
        </div>
    </div>
</div>