<div>
    <div class="panel-body">
        <div>
            <h2>{{editProduct.myProduct.name}} <button ng-click="editProduct.deleteProduct(editProduct.myProduct)" class="btn btn-danger" role="button">Delete</button></h2>
            <p>
            <form >
            <div class="form-group" >
                <label for="name">New Name</label>
                <input type="text" class="form-control" id="name" ng-model="newProduct.name">
            </div>
            <div class="form-group">
                <label for="price">New Price</label>
                <input type="text" class="form-control" id="price" ng-model="newProduct.price">
            </div>
             <div class="form-group">
                <label for="info">New Info</label>
                <input type="text" class="form-control" id="info" ng-model="newProduct.info">
            </div>
            <p>
            <button ng-click="editProduct.editProduct(editProduct.myProduct, newProduct)" class="btn btn-primary" role="button">Update</button>
            </form>
            <hr>
        </div>
    </div>
</div>